*{
    margin: 0;
    padding: 0;
}

.Logo_verbbo{
    width: 42px;
    height: 42px;
    border-radius: 100px;
    background-color: black;
    margin: 30px;
}

header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    box-shadow: 0 0 1rem black;
}

.listas_header{
    display: flex;
    margin: 40px;

}

.header_textos{
    color: white;
    list-style-type: none;
    cursor: pointer;
    padding-left: 2rem;
}

.atencao{
    margin: 100px;
    text-align: center;
}

.image-pointing{
    width: 10%;
}

.teste{
   margin: 0 500px 0 500px;  
}

h3{
    margin-top: 50px;
}

h4{
    margin-top: 10px;
}

.titulo{
    margin-top: 70px;
}

.image_compiler{
    margin-top: 20px;
    width: 100%;
}

.passo_a_passo{
    display: flex;

}

.passo_a_passo_texto{
    list-style-type: none;
    margin: 600px 20px 0 20px;
}

.passo_numeros{
    width: 100%;
    border-radius: 100px;
}